<% include  partials/header %>
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-12 ">
        <img class="profile-img"  src="images/f.jpg" alt="profile">
    </div>
    <div class="col-md-6 col-sm-12">
        <h2 class="intro">"Try until you get success "</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-12 tabs">
        I am Nitesh Singh. I graduated from SRM Institute of Science and Engineering
         with a major in Computer Science and Engineering.I'm from India.
         I like web designing and development. My hobbies are photography, travelling .
    </div>
</div>
</div>
<% include  partials/footer %>