<% include  partials/header %>
<div class="center">
    <form action="/" method="POST">
        <div class="child-tab">
            <input type="text" name="email" placeholder=" enter email">
        </div>
        <div class="child-tab">
            <input type="text" name="name" placeholder=" enter name">
        </div>
        <div class="child-tab">
            <input type="password" name="password" placeholder="enter password">
        </div>
        <div class="child-tab">
            <input type="submit">
        </div>
    </form>
</div>